In [3]:
pip show pyspark

Name: pysparkNote: you may need to restart the kernel to use updated packages.
Version: 3.4.0
Summary: Apache Spark Python API
Home-page: https://github.com/apache/spark/tree/master/python
Author: Spark Developers
Author-email: dev@spark.apache.org
License: http://www.apache.org/licenses/LICENSE-2.0
Location: c:\users\asus\appdata\local\programs\python\python310\lib\site-packages
Requires: py4j
Required-by:

In [4]:
import pyspark

In [5]:
from pyspark.sql import SparkSession

In [6]:
spark = SparkSession.builder.getOrCreate()

## Create SQL View with Json File

In [7]:
df = spark.read.json("db.json")

In [8]:
df = spark.read.option("multiline","true").json("db.json")
df.printSchema()
df.show()

root
 |-- employee: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- active: boolean (nullable = true)
 |    |    |-- email: string (nullable = true)
 |    |    |-- id: long (nullable = true)
 |    |    |-- name: string (nullable = true)
 |    |    |-- phone: string (nullable = true)

+--------------------+
|            employee|
+--------------------+
|[{true, aisyah112...|
+--------------------+

In [9]:
df.createOrReplaceTempView("df")

In [10]:
spark.sql ("select * from df").show()

+--------------------+
|            employee|
+--------------------+
|[{true, aisyah112...|
+--------------------+

In [11]:
spark.sql("select count (employee) from df").show()

+---------------+
|count(employee)|
+---------------+
|              1|
+---------------+

In [35]:
df2 = spark.read.option("header","true").csv("Employee Dataset.csv")
df2.printSchema()
df2.show()

root
 |-- SR.: string (nullable = true)
 |-- NAME: string (nullable = true)
 |-- GENDER: string (nullable = true)
 |-- AGE: string (nullable = true)
 |-- DATE : string (nullable = true)
 |-- COUNTRY: string (nullable = true)

+---+--------+------+---+----------+-------------+
|SR.|    NAME|GENDER|AGE|     DATE |      COUNTRY|
+---+--------+------+---+----------+-------------+
|  1|    Dett|  Male| 18|21/05/2015|Great Britain|
|  2|   Nern |Female| 19|15/10/2017|       France|
|  3| Kallsie|  Male| 20|16/08/2016|       France|
|  4|   Siuau|Female| 21|21/05/2015|Great Britain|
|  5|Shennice|  Male| 22|21/05/2016|       France|
|  6|  Chasse|Female| 23|15/10/2018|       France|
|  7|  Tommye|  Male| 24|16/08/2017|United States|
|  8| Dorcast|Female| 25|21/05/2016|United States|
|  9| Angelee|  Male| 26|21/05/2017|Great Britain|
| 10| Willoom|Female| 27|15/10/2019|       France|
| 11| Waeston|  Male| 28|16/08/2018|Great Britain|
| 12|   Rosma|Female| 29|21/05/2017|       France|
| 13|Felisaas|  Male| 30|21/05/2018|       France|
| 14| Demetas|Female| 31|15/10/2020|Great Britain|
| 15| Jeromyw|Female| 32|16/08/2019|       France|
| 16|  Rashid|Female| 33|21/05/2018|       France|
| 17|    Dett|Female| 34|21/05/2019|United States|
| 18|   Nern |Female| 35|15/10/2021|United States|
| 19| Kallsie|Female| 36|16/08/2020|Great Britain|
| 20|   Siuau|Female| 37|21/05/2019|       France|
+---+--------+------+---+----------+-------------+
only showing top 20 rows

In [37]:
df2.createOrReplaceTempView("df2")

## Select Column on Spark SQL

In [38]:
spark.sql("select * from df2").show()

+---+--------+------+---+----------+-------------+
|SR.|    NAME|GENDER|AGE|     DATE |      COUNTRY|
+---+--------+------+---+----------+-------------+
|  1|    Dett|  Male| 18|21/05/2015|Great Britain|
|  2|   Nern |Female| 19|15/10/2017|       France|
|  3| Kallsie|  Male| 20|16/08/2016|       France|
|  4|   Siuau|Female| 21|21/05/2015|Great Britain|
|  5|Shennice|  Male| 22|21/05/2016|       France|
|  6|  Chasse|Female| 23|15/10/2018|       France|
|  7|  Tommye|  Male| 24|16/08/2017|United States|
|  8| Dorcast|Female| 25|21/05/2016|United States|
|  9| Angelee|  Male| 26|21/05/2017|Great Britain|
| 10| Willoom|Female| 27|15/10/2019|       France|
| 11| Waeston|  Male| 28|16/08/2018|Great Britain|
| 12|   Rosma|Female| 29|21/05/2017|       France|
| 13|Felisaas|  Male| 30|21/05/2018|       France|
| 14| Demetas|Female| 31|15/10/2020|Great Britain|
| 15| Jeromyw|Female| 32|16/08/2019|       France|
| 16|  Rashid|Female| 33|21/05/2018|       France|
| 17|    Dett|Female| 34|21/05/2019|United States|
| 18|   Nern |Female| 35|15/10/2021|United States|
| 19| Kallsie|Female| 36|16/08/2020|Great Britain|
| 20|   Siuau|Female| 37|21/05/2019|       France|
+---+--------+------+---+----------+-------------+
only showing top 20 rows

## Count Syntax on Spark SQl

In [39]:
spark.sql("select count(Name) from df2").show()

+-----------+
|count(Name)|
+-----------+
|       5257|
+-----------+

## Where Clause on Spark

In [43]:
spark.sql("select Name, Gender, Country from df2 where Age<=31").show()

+--------+------+-------------+
|    Name|Gender|      Country|
+--------+------+-------------+
|    Dett|  Male|Great Britain|
|   Nern |Female|       France|
| Kallsie|  Male|       France|
|   Siuau|Female|Great Britain|
|Shennice|  Male|       France|
|  Chasse|Female|       France|
|  Tommye|  Male|United States|
| Dorcast|Female|United States|
| Angelee|  Male|Great Britain|
| Willoom|Female|       France|
| Waeston|  Male|Great Britain|
|   Rosma|Female|       France|
|Felisaas|  Male|       France|
| Demetas|Female|Great Britain|
|    Dett|  Male|Great Britain|
|   Nern |Female|       France|
| Kallsie|  Male|       France|
|   Siuau|Female|Great Britain|
|Shennice|  Male|       France|
|  Chasse|Female|       France|
+--------+------+-------------+
only showing top 20 rows

## Filter Rows on Spark

In [45]:
df2.select("Name","Gender","Age","Country").where("Country == 'France'").show(10)

+--------+------+---+-------+
|    Name|Gender|Age|Country|
+--------+------+---+-------+
|   Nern |Female| 19| France|
| Kallsie|  Male| 20| France|
|Shennice|  Male| 22| France|
|  Chasse|Female| 23| France|
| Willoom|Female| 27| France|
|   Rosma|Female| 29| France|
|Felisaas|  Male| 30| France|
| Jeromyw|Female| 32| France|
|  Rashid|Female| 33| France|
|   Siuau|Female| 37| France|
+--------+------+---+-------+
only showing top 10 rows

In [53]:
df2.select("Name","Gender","Age").show(9)

+--------+------+---+
|    Name|Gender|Age|
+--------+------+---+
|    Dett|  Male| 18|
|   Nern |Female| 19|
| Kallsie|  Male| 20|
|   Siuau|Female| 21|
|Shennice|  Male| 22|
|  Chasse|Female| 23|
|  Tommye|  Male| 24|
| Dorcast|Female| 25|
| Angelee|  Male| 26|
+--------+------+---+
only showing top 9 rows

## Sorting on Spark

In [66]:
df2.select("Name","Age","Country",).where("Country in ('France','Great Britain')").orderBy("Age").show(10)

+----+---+-------------+
|Name|Age|      Country|
+----+---+-------------+
|Dett| 18|Great Britain|
|Dett| 18|Great Britain|
|Dett| 18|Great Britain|
|Dett| 18|Great Britain|
|Dett| 18|Great Britain|
|Dett| 18|Great Britain|
|Dett| 18|Great Britain|
|Dett| 18|Great Britain|
|Dett| 18|Great Britain|
|Dett| 18|Great Britain|
+----+---+-------------+
only showing top 10 rows

In [67]:
spark.sql("select * from df2")

DataFrame[SR.: string, NAME: string, GENDER: string, AGE: string, DATE : string, COUNTRY: string]